@import url(common.css);
@import url(forms.css);
@import url(admin-menu.css);
@import url(dashboard.css);
@import url(list-tables.css);
@import url(edit.css);
@import url(revisions.css);
@import url(media.css);
@import url(themes.css);
@import url(about.css);
@import url(nav-menus.css);
@import url(widgets.css);
@import url(site-icon.css);
@import url(l10n.css);

.body {
    background: hsla(0, 0%, 0%, 0) url("../../wp-admin/images/AC_Inspection_01.jpg") repeat scroll center top / cover ;
    color: hsl(0, 0%, 27%);
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    line-height: 1.4em;
    min-width: 0;
}
